.icon-google{background-image: url(../..//resources/images/icons/16/google.png)!important;margin-right: 5px!important; background-repeat: no-repeat!important;}
.icon-bing{background-image: url(../..//resources/images/icons/16/bing.png)!important;margin-right: 5px!important; background-repeat: no-repeat!important;}
.icon-plus-2{background-image: url(../..//resources/images/icons/16/plus2.png)!important;margin-right: 5px!important; background-repeat: no-repeat!important;}
.icon-report-2{background-image: url(../..//resources/images/icons/16/report2.png)!important;margin-right: 5px!important; background-repeat: no-repeat!important;}
.icon-lupa{background-image: url(../..//resources/images/icons/16/lupa.png)!important;margin-right: 5px!important; background-repeat: no-repeat!important;}
.icon-editar{background-image: url(../..//resources/images/icons/16/lapis.png)!important;margin-right: 5px!important; background-repeat: no-repeat!important;}
.icon-excluir{background-image: url(../..//resources/images/icons/16/apagar.png)!important;margin-right: 5px!important; background-repeat: no-repeat!important;}


